pandas
# required due to dagshub
mlflow==2.2.2 
notebook
numpy
scikit-learn
matplotlib
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
Flask
Flask-Corsgit 
ipykernel
python-dotenv
dvc
dvc-s3

##-e .